 table{
    
    border-collapse: collapse;
    /* place-items: center; */
    margin: 0 auto;
    place-content: center;
    
 }
 
th, td {
    margin: 3px; 
/* text-align: right; */
justify-content: space-between; 
text-align: center;
 padding: 15px;  
place-content: center;
align-items: center;
padding-right: 90px;
gap: 10px;

}
th{
    padding-left: 3px;


}